nav .contact {
    width: 50px;
    height: 50px;
    margin: 0;
    z-index: 999;
    cursor: pointer;
    position: relative;
    &:hover, &:focus {
        .line { background-color: #1e232d; }
    }
    .line {
        top: 45%;
        left: 25%;
        width: 50%;
        height: 2px;
        position: absolute;
        background-color: $blue;
        transition: rotate 0.8s, background-color 0.5s, transform 0.8s;
    }
    .line1 {
        top: 25%;
    }
    .line2 {
        width: 40%;
    }
    .line3 {
        top: 65%;
        width: 45%
    }
}


.contact.open {
    .line { background-color: $blue; }
    .line1 {
        transform: rotate(45deg);
        top: 45%;
        left: 25%;
    }
    .line3 {
        transform: rotate(-45deg);
        top: 45%;
        left: 25%;
        width: 50%;
    }
    .line2 {
        opacity: 0;
    }
    &:hover { 
        .line {
            background-color: $gold;
        }
    }
}
