.eye {
    border: 20px solid $gold;
    border-radius: 80px 10px;
    width: 80px;
    height: 80px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(44deg); 
    transition: border-color 1s;
    .moon {
        background-color: transparent;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: inset 22px 5px $blue, inset 20px 0px 1px 7px $blue;
        -moz-box-shadow: inset 20px 0px $blue, inset 20px 0px 1px 1px $blue;  
        transform: rotate(-45deg);   
        animation: eyeroll 3s linear infinite;
        -webkit-animation: eyeroll 3s linear infinite;
        transition: box-shadow 1s;
    }
    &.loading {
        border-color: $blue;
        + h2 { font-family: RevReg, serif; }
        .moon {
            box-shadow: inset 22px 5px $gold, inset 20px 0px 1px 7px $gold;
            -moz-box-shadow: inset 20px 0px $gold, inset 20px 0px 1px 1px $gold;  
        }
    }

}

@keyframes eyeroll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
