#gallery {
    display: none;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 20px;
    margin: none;
    h1 {
        font-size: 80px;
        text-align: center;
        color: $gold;
        font-family: RevReg, serif;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 8px;
        .column {
            width: 48%;
            padding: 0 4px;
            img {
                position: relative;
                top: 30px;
                margin-top: 8px;
                vertical-align: middle;
            }
        }
    }
}

#gallery.open {
    display: block;
    z-index: 99;
    background-color: $blue;
    img { top: 0; }
}
