#gallery {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue;
    min-height: 100vh;
    overflow: scroll;
    margin: 0 auto;
    .gallery-header {
        color: $gold;
        h1 {
            font-family: RevReg, serif;
            font-size: 80px;
            margin: 0 auto;
            text-align: center;
        }
        h2 {
            font-family: RevOutline, serif;
            color: $grey;
            font-style: italic;
            margin: 0 10px;
            font-size: 20px;
            letter-spacing: 2px;
        }
        div:not(#gallery-nav):not(#close-gallery) {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
        margin: 0 auto;
        .column {
            width: 48%;
            padding: 0 1%;
            img {
                position: relative;
                top: 30px;
                margin-bottom: 8px;
                vertical-align: middle;
            }
        }
    }
}

#gallery.open { z-index: 999; display: block;
    .row .column img { border: 0.2px solid $grey; }
}
