#gallery {
    display: none;
    z-index: 99;
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 8px;
        .column {
            width: 48%;
            padding: 0 4px;
            img {
                position: relative;
                top: 30px;
                margin-top: 8px;
                vertical-align: middle;
            }
        }
    }
}

#gallery.open {
    display: block;
    img { top: 0; }
}
