section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: calc(30vh - 20px);
    background-color: transparent;
    #enter { 
        height: 20%;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        cursor: pointer;
        z-index: 7;
        h2#enter-text {
            color: $blue;
            font-family: RevOutline, sans-serif;
            margin: 0;
            padding-bottom: 10px;
            white-space: no-wrap;
            letter-spacing: 2px;
            width: 77px;
            
            animation: type 1.5s steps(5, end);
            overflow: hidden;
            &:hover, &:focus { font-family: RevReg, sans-serif; }
        }
        &:hover, &:focus {
            h2#enter-text { font-family: RevReg, sans-serif; }
            .eye {
                border-color: $blue;
                .moon {
                    box-shadow: inset 22px 5px $gold, inset 20px 0px 1px 7px $gold;
                    -moz-box-shadow: inset 20px 0px $gold, inset 20px 0px 1px 1px $gold;  
                }
            }
        }
    }
}

@keyframes type { 
    from { width: 0; } 
} 

