@media (max-width: 530px) {
    header nav {
        width: 100vw;
        margin-top: 5px;
        div.contact, div.eye-target {
            height: 35px;
            width: 35px;
        }
        div.logo img {
            width: 50%;
            margin: 5px auto;
        }
    }
    .contact.open:hover .line {
        background-color: $blue;
    }
    section {
        padding-top: calc(40vh - 50px);
        .content {
            height: 50%;
        }
    }
    #modal .text {
        h3 { font-size: 28px; }
        p span { font-size: 14px; }
        a { font-size: 12px; }
        width: 75%;
        padding: 40px 20px;
        height: auto;
    }
}