@media (max-width: 530px) {
    header nav {
        margin: 5px;
        div.contact, #eye-target {
            height: 35px;
            width: 35px;
            min-width: 35px;
        }
        div.logo img {
            width: 50%;
            min-width: 150px;
            margin: 5px auto;
        }
    }

    section #enter h2#enter-text { letter-spacing: 1px; width: 78px; }

    #gallery {
        .gallery-header {
            h1 {margin-top: 15px; font-size: 40px; }
            h2 { font-size: 16px; font-family: RevReg, serif;}
        }
        .row {
            padding: 80px 20px 20px;
            flex-wrap: wrap;
            .column { width: 100%;  padding: 0; 
                img { margin-bottom: 12px; }
            }
        }
    }
    #modal .text {
        padding: 25px 40px;
        h3 { 
            font-size: 28px;
            left: 50%;
            transition: left 0.8s ease-in-out; 
        }
    }
}