@media (max-width: 530px) {
    header nav {
        margin: 5px;
        div.contact, #eye-target {
            height: 35px;
            width: 35px;
            min-width: 35px;
        }
        div.logo img {
            width: 50%;
            min-width: 150px;
            margin: 5px auto;
        }
    }
    section {
        padding-top: calc(40vh - 50px);
        .content {
            height: 30%;
        }
    }
    #gallery {
        width: unset;
        .gallery-header {
            h1 {font-size: 25px;}
        }
        .row .column { width: 100%;  padding: 0; }
        
    }
    #modal .text {
        h3 { 
            font-size: 28px;
            left: 50%;
            transition: left 1s ease-in-out; 
        }
        width: 75%;
        padding: 40px 20px;
        margin-top: 50px;
        height: auto;
    }
}