header nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    div.logo {
        margin: 0 auto;
        img { 
            max-height: 50px; 
            width: auto;
        }
    }
    #eye-target {
        height: 50px;
        width: 50px;
    }
    
}