header nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo p {
        font-family: RevReg, serif;
        font-size: calc(2vw + 20px);
        display: flex;
        align-items: center;
        line-height: 90%;
    }
    div.place {width: 50px}
}

.contact {
    width: 50px;
    height: 50px;
    margin: 0;
    z-index: 999;
    cursor: pointer;
    position: relative;
    &:hover, &:focus {
        .line { background-color: #1e232d; }
    }
    .line {
        top: 45%;
        left: 25%;
        width: 50%;
        height: 2px;
        position: absolute;
        background-color: $blue;
        transition: rotate 0.8s, background-color 0.5s, transform 0.8s;
    }
    
    .line1 {
        top: 25%;
    }
    .line2 {
        width: 40%;
    }
    .line3 {
        top: 65%;
        width: 45%
    }
}

.contact.open {
    .line1 {
        transform: rotate(45deg);
        top: 45%;
        left: 25%;
    }
    .line3 {
        transform: rotate(-45deg);
        top: 45%;
        left: 25%;
        width: 50%;
    }
    .line2 {
        opacity: 0;
    }
    &:hover { 
        .line {
            background-color: $darkBlue;
        }
    }
}

#gallery-nav {
    display: flex;
    align-items: flex-start;
    .line {background-color: $gold}
    .line1 {
        transform: rotate(45deg);
        top: 45%;
        left: 25%;
    }
    .line2 {
        transform: rotate(-45deg);
        top: 45%;
        left: 25%;
        width: 50%;
    }
    &:hover { 
        .line {
            background-color: $darkGold;
        }
    }
}